<a href="https://colab.research.google.com/github/fpiedra47/predicciones-ventas/blob/main/ProyectoParte2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importar librer√≠a
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
filename = '/content/drive/My Drive/CodingDojo/Codigos/Datos/sales_predictions.csv'
df = pd.read_csv(filename)
df

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

**¬øHay valores faltantes en el conjunto de datos?**

In [8]:
#df.head()
for cont in df.columns:
  if df[cont].isna().sum()!=0:
    print(cont, '-', df[cont].isna().sum(), "celdas vac√≠as")

Item_Weight - 1463 celdas vac√≠as
Outlet_Size - 2410 celdas vac√≠as

In [10]:
# Cantidad por tipo de producto
df.loc[:, 'Item_Type'].value_counts()

Fruits and Vegetables    1232
Snack Foods              1200
Household                 910
Frozen Foods              856
Dairy                     682
Canned                    649
Baking Goods              648
Health and Hygiene        520
Soft Drinks               445
Meat                      425
Breads                    251
Hard Drinks               214
Others                    169
Starchy Foods             148
Breakfast                 110
Seafood                    64
Name: Item_Type, dtype: int64

In [11]:
# Listado por tipo "dairy"
f1 = df.loc[:,'Item_Type'] == 'Dairy'
print (f1)

0        True
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Name: Item_Type, Length: 8523, dtype: bool

In [12]:
# Cu√°ntos productos del tipo "diario" existen en cada tipo de tienda
df.loc[f1,:].groupby('Outlet_Type')['Item_Type'].count()

Outlet_Type
Grocery Store         92
Supermarket Type1    450
Supermarket Type2     73
Supermarket Type3     67
Name: Item_Type, dtype: int64

In [15]:
# Todos aquellos productos que se han vendido mas de $10000
f2 = df.loc[:, 'Item_Outlet_Sales'] > 10000
print (f2)

0       False
1       False
2       False
3       False
4       False
        ...
8518    False
8519    False
8520    False
8521    False
8522    False
Name: Item_Outlet_Sales, Length: 8523, dtype: bool

In [16]:
df.loc[f2]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
1009           FDU14          NaN  ...  Supermarket Type3         10236.6750
1450           FDZ20          NaN  ...  Supermarket Type3         11445.1020
4349           FDP33          NaN  ...  Supermarket Type3         10993.6896
4888           FDF39        14.85  ...  Supermarket Type1         10256.6490
5223           FDQ19          NaN  ...  Supermarket Type3         12117.5600
6541           FDI50          NaN  ...  Supermarket Type3         10306.5840
7188           NCE42          NaN  ...  Supermarket Type3         13086.9648
7191           NCH18          NaN  ...  Supermarket Type3         10072.8882

[8 rows x 12 columns]

In [19]:
#Promedio de la cantidad de productos del tipo "Diario" en cada una de las tiendas
df.loc[f1, 'Item_Outlet_Sales'].mean()

2232.5425970674487